extends ../../../views/layout
block content
  h2.lab-title Лабораторная работа №#{activeLab}
  div.tables
    p Таблицы, сгенерированные с помощью HTML-препроцессора Pug на сервере:

    table.table-1
      tr
        td(colspan='6')
      tr
        td(rowspan='5')
        td(colspan='5')
      tr
        td(rowspan='4')
        td(colspan='4')
      tr
        td(rowspan='3')
        td(colspan='3')
      tr
        td(rowspan='2')
        td(colspan='2')
      tr
        td
        td

    table.table-2
      tr
        td(rowspan='7')
        td(colspan='7')
      tr
        td(rowspan='6')
        td(colspan='6')
      tr
        td(rowspan='5')
        td(colspan='5')
      tr
        td(rowspan='4')
        td(colspan='4')
      tr
        td(rowspan='3')
        td(colspan='3')
      tr
        td(rowspan='2')
        td(colspan='2')
      tr
        td

    table.table-3
      tr
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')
        td
      tr
        td
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')
      tr
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')
        td
      tr
        td
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')
      tr
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')
        td
      tr
        td
        td(colspan='2')
        td(colspan='2')
        td(colspan='2')

    table.table-4
      tr
        td(rowspan='3')
        td
        td(rowspan='2')
        td(rowspan='3')
        td
        td(rowspan='2')
        td(rowspan='3')
      tr
        td(rowspan='3')
        td(rowspan='3')
      tr
        td(rowspan='3')
        td(rowspan='3')
      tr
        td(rowspan='3')
        td(rowspan='3')
        td(rowspan='3')
      tr
        td(rowspan='3')
        td(rowspan='3')
      tr
        td(rowspan='3')
        td(rowspan='3')
      tr
        td(rowspan='2')
        td(rowspan='2')
        td(rowspan='2')
      tr
        td
        td
